.App {
  text-align: center;
}

body{
  background: linear-gradient(rgb(84, 84, 196), rgb(190, 60, 190));
  color: white;
  font-weight: 900;
  height: 100vh;
}

input{
  border-radius: 50px;
  height: 20px;
  margin: 5px;
}

button{
  border-radius: 40px;
  background-color: blue;
  color: white;
  padding: 10px;
  width: 120px;
  box-shadow: black 3px 3px 3px;
}
